body{
  background-image: url("http://beanhuthost.herokuapp.com/images/1506193551234.jpg");
  font-family: monospace;

}

.head-banner{
  height: 250px;
  width: 100%;
}

#mainpage{
  padding-top: 0px !important;
}

.navbar-header{
  background-image: url("https://beanhuthost.herokuapp.com/images/paul.jpeg");
}

.navbar-brand{
  color: hotpink !important;
  font-size: 60px;
}

.navbar-nav{
  float: right;
}

.nav{
  padding: 0px;
}

#loginform{

}

#logoutform{

}